@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
.container {
  text-align: center;
  margin-top: 20px;
}
.menu {
  width: 20%;
  border-radius: 30px !important;
  margin: 10px;
}
/* 모달을 위한 스타일 추가 */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.box {
  background-color: white;
  margin: 100px auto;
  max-width: 600px;
  min-width: 200px;
  min-height: 250px;
  font: 12px "verdana";
  padding: 5px 5px 5px 5px;
}
.box div {
  padding: 0;
  display: block;
  margin: 5px 0 0 0;
}
.col-12 {
  margin: 0 0 30px 0;
}
.box .heading {
  background: #081d58;
  font-weight: 300;
  text-align: left;
  color: #fff;
  font-size: 1rem;
  margin: 0px;
  padding: 10px 10px 10px 10px;
  min-width: 200px;
  max-width: 600px;
  white-space: pre-wrap;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #081d58 !important;
  /* hover-border-color: #081d58 !important; */
  border: #081d58 !important;
  /* disabled-border-color: #081d58 !important; */
}

.h-img {
  width: 200px;
  margin: 30px 0 0 0;
}
.box .show {
  background: white;
  padding: 50px 0;
}
.pointer {
  cursor: pointer;
}

.h1 {
  margin: 60px 0 0 0 !important;

  animation: slide 5.5s;
  color: #081d58;
  font-weight: 900;
}
.h2 {
  margin: 10px 0 !important;

  animation: slide 6s;
  color: #33a17f;
  font-weight: 700;
}
.p {
  margin: 30px 0 0 0;
  animation: slide 7s;
}

.p-b {
  margin: 10px 0 80px 0;
  animation: slide 7.5s;
}
span {
  font-weight: 500;
}

@keyframes slide {
  from {
    transform: translate(-100px, -100px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

/* book-list 정렬 */
.list-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 100px;
}
.list-inner > img {
  margin-right: 70px;
}
.list-txt {
  text-align: left;
  text-decoration: none;
  color: #000;
}
.list-txt > P:first-child {
  font-size: 1.1rem;
  word-break: keep-all;
}
.list-txt > p > span {
  margin-right: 15px;
}
.discount {
  color: red;
}
.disprice {
  font-weight: bold;
}
.price {
  color: #929292;
  text-decoration: line-through;
}

.book-info {
  width: 85%;
  margin: 0 auto;
  background: #e6e6e6;
  border-radius: 25px;
  padding: 50px 50px;
  white-space: pre-wrap;
  text-align: left;
}
